*.dll
VideoClub.Application/bin/Debug/net5.0/VideoClub.Application.dll
VideoClub.Application/bin/Debug/net5.0/VideoClub.Application.dll
VideoClub.Application/bin/Debug/net5.0/VideoClub.Application.pdb
VideoClub.Application/bin/Debug/net5.0/ref/VideoClub.Application.dll
VideoClub.Application/obj/Debug/net5.0/VideoClub.Application.csproj.AssemblyReference.cache
VideoClub.Application/obj/Debug/net5.0/VideoClub.Application.csproj.CoreCompileInputs.cache
VideoClub.Application/obj/Debug/net5.0/VideoClub.Application.dll
VideoClub.Application/obj/Debug/net5.0/VideoClub.Application.pdb
VideoClub.Application/obj/Debug/net5.0/ref/VideoClub.Application.dll
VideoClub.Persistence/bin/Debug/net5.0/VideoClub.Application.dll
VideoClub.Persistence/bin/Debug/net5.0/VideoClub.Application.pdb
VideoClub.Persistence/bin/Debug/net5.0/VideoClub.Persistence.dll
VideoClub.Persistence/bin/Debug/net5.0/VideoClub.Persistence.pdb
VideoClub.Persistence/bin/Debug/net5.0/ref/VideoClub.Persistence.dll
VideoClub.Persistence/obj/Debug/net5.0/VideoClub.Persistence.csproj.AssemblyReference.cache
VideoClub.Persistence/obj/Debug/net5.0/VideoClub.Persistence.csproj.CoreCompileInputs.cache
VideoClub.Persistence/obj/Debug/net5.0/VideoClub.Persistence.dll
VideoClub.Persistence/obj/Debug/net5.0/VideoClub.Persistence.pdb
VideoClub.Persistence/obj/Debug/net5.0/ref/VideoClub.Persistence.dll
VideoClub.Application/bin/Debug/net5.0/VideoClub.Application.dll
VideoClub.Application/bin/Debug/net5.0/VideoClub.Application.pdb
VideoClub.Application/bin/Debug/net5.0/ref/VideoClub.Application.dll
VideoClub.Application/obj/Debug/net5.0/VideoClub.Application.csproj.AssemblyReference.cache
VideoClub.Application/obj/Debug/net5.0/VideoClub.Application.csproj.CoreCompileInputs.cache
VideoClub.Application/obj/Debug/net5.0/VideoClub.Application.dll
VideoClub.Application/obj/Debug/net5.0/VideoClub.Application.pdb
VideoClub.Application/obj/Debug/net5.0/ref/VideoClub.Application.dll
VideoClub.Persistence/bin/Debug/net5.0/VideoClub.Application.dll
VideoClub.Persistence/bin/Debug/net5.0/VideoClub.Application.pdb
VideoClub.Persistence/bin/Debug/net5.0/VideoClub.Persistence.dll
VideoClub.Persistence/bin/Debug/net5.0/VideoClub.Persistence.pdb
VideoClub.Persistence/bin/Debug/net5.0/ref/VideoClub.Persistence.dll
VideoClub.Persistence/obj/Debug/net5.0/VideoClub.Persistence.csproj.AssemblyReference.cache
VideoClub.Persistence/obj/Debug/net5.0/VideoClub.Persistence.csproj.CoreCompileInputs.cache
VideoClub.Persistence/obj/Debug/net5.0/VideoClub.Persistence.dll
VideoClub.Persistence/obj/Debug/net5.0/VideoClub.Persistence.pdb
VideoClub.Persistence/obj/Debug/net5.0/ref/VideoClub.Persistence.dll
