*.cache
*.dll
*.exe
*.pdb
/build/
*.suo
*.user
_ReSharper.*/
*.sdf
*.opensdf
*.tlog
*.log
TestResult.xml
*.VisualState.xml
Version.cs
Version.h
Version.cpp
*.editorconfig
*.CopyComplete
Persistence.dll
VideoClub.Application/obj/
VideoClub.Persistence/obj/
VideoClub.Persistence/bin/
VideoClub.Presentation/obj/
VideoClub.Presentation/bin/
VideoClub.Domain/obj/
VideoClub.Domain/bin/